/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
    padding: 0 60px;

    @media screen and (max-width: 800px) {
        padding: 0 30px;
    }

    @media screen and (max-width: $breakpoint-xs) {
        padding: 0 15px;
    }
}
