/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-primary: #f5f2e8;
    --color-secondary: #244441;

    --color-action-primary: rgba(186, 147, 56, 0.9);
    --color-action-primary-opacity: #ba9338;
    --color-action-primary-light: #debe6c;
    --color-action-secondary: #9b582e;

    --color-neutral-light: #fafafa;

    --color-fail: #f6511d;
    --color-neutral-disable: rgba(36, 68, 65, 0.25);
    --color-light-disable: rgba(245, 242, 232, 0.15);

    /* Variable pour les dégradés */
    --linear-bg-hero: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.48) 2.4%,
        rgba(0, 0, 0, 0.36) 52.4%,
        rgba(0, 0, 0, 0) 100%
    );
}
