{% include '_partials/_header.html' with {title : "Accueil - Biscuits" } %}
<div data-component="Scrolly" data-scrolly="simpleScroll">
    <section class="hero">
        <div class="wrapper">
            <div class="hero__bgi">
                <img
                    src="assets/images/hero-fond.png"
                    alt="Image décoratrice mettant en scène des biscuits de la compagnie"
                />
            </div>

            <div class="hero__content">
                <h1>
                    Des <span class="souligne style-ligne-courbe">produits</span> uniques qui redonnent à nos
                    <span class="souligne style-ligne-double">communautés</span>
                </h1>
                <p>
                    Biscuits est une organisation voulant vous aider à financer vos causes en vendant de succulents
                    desserts.
                </p>
                <a href="contact.html" class="button button__grand" data-component="Modal" data-modal-id="tpl-modal">
                    Lancer ma campagne
                </a>
            </div>
        </div>
    </section>

    <section class="campagne">
        <div class="wrapper separations">
            <div class="entete">
                <h2>Lancez<span class="surligne style-surligne1">votre&nbsp;campagne</span></h2>
                <p>
                    Nous offrons des services aux campagnes de financement qui veulent prendre leur envol grâce à notre
                    plateforme.
                </p>
            </div>
            <div class="campagne__allcontent">
                <img src="assets/images/porte-objectif.jpg" alt="Graphique illustrant la quantité d'argent collecter" />

                <div class="campagne__content">
                    <img
                        src="assets/images/personnes-heureuses.jpg"
                        alt="Des enfants souriants"
                        class="image-position"
                    />

                    <div class="campagne__information">
                        <h3 data-scrolly="flipFromLeft">Accompagner votre campagne</h3>
                        <ul data-scrolly="flipFromLeft">
                            <li>Expertise et services conseils pour optimiser la diffusion de la campagne</li>
                            <li>Stratégies de mobilisation</li>
                            <li>Gestion de communauté sur les réseaux sociaux</li>
                        </ul>

                        <h3 data-scrolly="flipFromLeft">Créer un site web personnalisé pour votre cause</h3>
                        <ul data-scrolly="flipFromLeft">
                            <li>Le logo du client ou de la campagne</li>
                            <li>Une bannière promotionnelle personnalisée</li>
                        </ul>

                        <a
                            href="contact.html"
                            class="button button__grand"
                            data-component="Modal"
                            data-modal-id="tpl-modal"
                        >
                            Lancer ma campagne
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financer" id="soutenir" data-scrolly="backgoundInteractif">
        <div class="wrapper separations">
            <div class="entete">
                <h2>Contribuez en <span class="souligne style-ligne-simple">finançant</span></h2>
                <p>Financez dès maintenant une cause qui vous tient à coeur et recevez des produits de Biscuits.</p>
            </div>

            <div class="cards">
                <div class="card card__grande">
                    <img src="assets/images/campagne-1.jpg" alt="Logo d'Académie performance isatis" />
                    <button class="favoris">
                        <svg class="icon">
                            <use xlink:href="#icon-favoris"></use>
                        </svg>
                    </button>
                    <p class="statu">En vedette</p>

                    <div class="contenu">
                        <h4>Banque Alimentaire de Laval</h4>
                        <p class="text-legend">
                            Commodo sint aliqua aliqua labore velit labore sunt ad commodo occaecat qui ullamco. Nam
                            eget condimentum tellus...
                        </p>
                        <div class="informations">
                            <div class="informations_generales">
                                <p class="auteur"><span>Par </span>Banque Alimentaire de Laval</p>
                                <p class="autre__information"><span>7 000$ collectés</span> sur 10 000$</p>
                                <p class="autre__information"><span>15 jours</span> restants</p>
                            </div>

                            <div class="progression">
                                <p><span>70</span>%</p>
                            </div>
                        </div>

                        <a href="#" class="button button__petit">Contribuer</a>
                    </div>
                </div>
                <div class="card card__grande">
                    <img src="assets/images/campagne-2.jpg" alt="Fille participant au Color Run" />
                    <button class="favoris">
                        <svg class="icon">
                            <use xlink:href="#icon-favoris"></use>
                        </svg>
                    </button>
                    <p class="statu urgent">Urgent</p>

                    <div class="contenu">
                        <h4>The color run à Saint-bruno</h4>
                        <p class="text-legend">
                            Commodo sint aliqua aliqua labore velit labore sunt ad commodo occaecat qui ullamco. Nam
                            eget condimentum tellus...
                        </p>
                        <div class="informations">
                            <div class="informations_generales">
                                <p class="auteur"><span>Par </span>Matilde Ménard</p>
                                <p class="autre__information"><span>1 890$ collectés</span> sur 3 000$</p>
                                <p class="autre__information texte-urgent"><span>2 jours</span> restants</p>
                            </div>
                            <div class="progression progression__urgent">
                                <p><span>63</span>%</p>
                            </div>
                        </div>

                        <a href="#" class="button button__petit urgent">Contribuer</a>
                    </div>
                </div>
            </div>

            <a href="#" class="button button__grand">Voir toutes les campagnes</a>
        </div>
    </section>

    <section class="produits" id="produits">
        <div class="wrapper">
            <div class="separations">
                <div class="entete">
                    <h2>Nos<span class="surligne style-surligne2">Produits</span></h2>
                    <p>
                        Nous offrons 16 recettes différentes de biscuits à des prix abordables pour les amoureux de
                        l’écologie.
                    </p>
                </div>
            </div>
            <div class="separation_carousel">
                <div class="swiper-container">
                    <div class="swiper" data-component="Carousel" data-split="split" data-navigation="navigation">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide card card__petite">
                                <img src="assets/images/produit-1.jpg" alt="Produit de Biscuits" />
                                <button class="favoris">
                                    <svg class="icon">
                                        <use xlink:href="#icon-favoris"></use>
                                    </svg>
                                </button>

                                <div class="contenu">
                                    <h4>Biscuits au chocolat</h4>
                                    <p class="text-legend">
                                        Commodo sint aliqua aliqua labore velit labore sunt ad commodo occaecat qui
                                        ullamco...
                                    </p>

                                    <div class="produit__action">
                                        <div class="produit__prix">
                                            <p class="nouv_prix">12.00$</p>
                                            <p class="vieux_prix">15.00$</p>
                                        </div>
                                        <a href="#" class="button button__petit">Acheter</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide card card__petite">
                                <img src="assets/images/produit-2.jpg" alt="Produit de Biscuits" />
                                <button class="favoris">
                                    <svg class="icon">
                                        <use xlink:href="#icon-favoris"></use>
                                    </svg>
                                </button>
                                <div class="contenu">
                                    <h4>Biscuits Choco-Noix</h4>
                                    <p class="text-legend">
                                        Commodo sint aliqua aliqua labore velit labore sunt ad commodo occaecat qui
                                        ullamco...
                                    </p>

                                    <div class="produit__action">
                                        <div class="produit__prix">
                                            <p class="nouv_prix">12.00$</p>
                                            <p class="vieux_prix">15.00$</p>
                                        </div>
                                        <a href="#" class="button button__petit">Acheter</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide card card__petite">
                                <img src="assets/images/produit-3.jpg" alt="Produit de Biscuits" />
                                <button class="favoris">
                                    <svg class="icon">
                                        <use xlink:href="#icon-favoris"></use>
                                    </svg>
                                </button>

                                <div class="contenu">
                                    <h4>Biscuits Surprise</h4>
                                    <p class="text-legend">
                                        Commodo sint aliqua aliqua labore velit labore sunt ad commodo occaecat qui
                                        ullamco...
                                    </p>

                                    <div class="produit__action">
                                        <div class="produit__prix">
                                            <p class="nouv_prix">12.00$</p>
                                            <p class="vieux_prix">15.00$</p>
                                        </div>
                                        <a href="#" class="button button__petit">Acheter</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide card card__petite">
                                <img src="assets/images/produit-4.jpg" alt="Produit de Biscuits" />
                                <button class="favoris">
                                    <svg class="icon">
                                        <use xlink:href="#icon-favoris"></use>
                                    </svg>
                                </button>

                                <div class="contenu">
                                    <h4>Biscuits Fondants</h4>
                                    <p class="text-legend">
                                        Commodo sint aliqua aliqua labore velit labore sunt ad commodo occaecat qui
                                        ullamco...
                                    </p>

                                    <div class="produit__action">
                                        <div class="produit__prix">
                                            <p class="nouv_prix">12.00$</p>
                                            <p class="vieux_prix">15.00$</p>
                                        </div>
                                        <a href="#" class="button button__petit">Acheter</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide card card__petite">
                                <img src="assets/images/produit-5.jpg" alt="Produit de Biscuits" />
                                <button class="favoris">
                                    <svg class="icon">
                                        <use xlink:href="#icon-favoris"></use>
                                    </svg>
                                </button>

                                <div class="contenu">
                                    <h4>Petits Biscuits</h4>
                                    <p class="text-legend">
                                        Commodo sint aliqua aliqua labore velit labore sunt ad commodo occaecat qui
                                        ullamco...
                                    </p>

                                    <div class="produit__action">
                                        <div class="produit__prix">
                                            <p class="nouv_prix">12.00$</p>
                                            <p class="vieux_prix">15.00$</p>
                                        </div>
                                        <a href="#" class="button button__petit">Acheter</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide card card__petite">
                                <img src="assets/images/produit-6.jpg" alt="Produit de Biscuits" />
                                <button class="favoris">
                                    <svg class="icon">
                                        <use xlink:href="#icon-favoris"></use>
                                    </svg>
                                </button>

                                <div class="contenu">
                                    <h4>Biscuits au beurre d'arachide</h4>
                                    <p class="text-legend">
                                        Commodo sint aliqua aliqua labore velit labore sunt ad commodo occaecat qui
                                        ullamco...
                                    </p>

                                    <div class="produit__action">
                                        <div class="produit__prix">
                                            <p class="nouv_prix">12.00$</p>
                                            <p class="vieux_prix">15.00$</p>
                                        </div>
                                        <a href="#" class="button button__petit">Acheter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next">
                        <svg class="icon icon--xxl">
                            <use xlink:href="#icon-fleche-carousel-droite"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-prev">
                        <svg class="icon icon--xxl">
                            <use xlink:href="#icon-fleche-carousel-gauche"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="separations">
                <a href="#" class="button button__grand">Voir tous nos produits</a>
            </div>
        </div>
    </section>

    <section class="temoignages">
        <div class="wrapper">
            <div class="entete">
                <h2>Des <span class="souligne style-ligne-courbe">témoignages</span></h2>
            </div>

            <div class="separation_carousel">
                <div class="swiper-container" data-scrolly="fromLeftRotation">
                    <div
                        class="swiper"
                        data-component="Carousel"
                        data-navigation="navigation"
                        data-pagination="pagination"
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img
                                    src="assets/images/temoignage-1.jpg"
                                    alt="Photo d'un homme avec des chiots"
                                    class="temoignage temoignage__image1"
                                />
                                <blockquote>
                                    <h3>Sauver les chenils</h3>
                                    <p>
                                        Pour moi, apporter de l’aide aux animaux est une priorité. Quand j’ai appris
                                        qu’un chenil local allait fermer à cause d’un manque de financement, je savais
                                        que je devais agir.
                                    </p>
                                    <p>
                                        Grâce à Biscuits, j’ai pu aider cette organisation en peu de temps. J’ai même
                                        réussi à excéder le but financier de ma campagne. Dorénavant, ce chenil est plus
                                        populaire que jamais. Je suis content d’avoir aidé cette bonne cause en vendant
                                        de délicieux repas.
                                    </p>
                                    <p class="temoignage__signature">- Bob Bertrand, 67 ans</p>
                                </blockquote>
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="assets/images/temoignage-2.jpg"
                                    alt="Photo d'un finissante"
                                    class="temoignage"
                                />
                                <blockquote>
                                    <h3>Un bal de fin d’étude inoubliable</h3>
                                    <p>
                                        Dire adieu a toujours été difficile pour moi. Alors, quand mon tour est venu de
                                        terminer mes études secondaires, j’étais émue. De plus, un problème est survenu
                                        : mon école n’avais pas assez de budget pour donner à ses finissants un bal
                                        digne de ce nom.
                                    </p>
                                    <p>
                                        Étant une grande fan des produits de Biscuits, j’ai lancé une campagne de
                                        financement pour tous mes collègues et amis. Quelques semaines plus tard, j’ai
                                        pu collecter une bonne somme d’argent, et l’école à pu réserver une belle salle
                                        et de bons repas pour cette soirée. Merci à tous ceux qui ont participés de nous
                                        avoir fait vivre une fête inoubliable!
                                    </p>
                                    <p class="temoignage__signature">- Sophie Blanchette, 18 ans</p>
                                </blockquote>
                            </div>
                            <div class="swiper-slide">
                                <img
                                    src="assets/images/temoignage-3.jpg"
                                    alt="Photo d'un homme assis dans un parc"
                                    class="temoignage temoignage__image3"
                                />
                                <blockquote>
                                    <h3>Des actvités en plein air pour tous</h3>
                                    <p>
                                        J’ai toujours aimé voyager et me promener en plein air. Mais lorsque j’essayais
                                        d’inviter mes amis à des activités, ils me disaient tout le temps : « Quand même
                                        Stephane, il y a rien à faire dehors dans notre ville! » Alors, j’ai décidé de
                                        changer les choses en organisant des activités.
                                    </p>
                                    <p>
                                        Avec l’argent que j’ai amassé avec ma campagne de financement, j’ai pu organiser
                                        des activités avec ma municipalité pour créer un environnement plus accueillant.
                                        Maintenant, je rencontre de nouvelles personnes et je sors avec mes amis plus
                                        souvent!
                                    </p>
                                    <p class="temoignage__signature">- Stephane Lavoie, 29 ans</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-custom-nav">
                        <svg class="icon icon--xxl">
                            <use xlink:href="#icon-fleche-carousel-droite"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-prev swiper-custom-nav">
                        <svg class="icon icon--xxl">
                            <use xlink:href="#icon-fleche-carousel-gauche"></use>
                        </svg>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="debut-formulaire">
        <div class="wrapper separations">
            <div class="entete">
                <h2>Créer ma<span class="surligne style-surligne3">campagne</span></h2>
                <p>
                    En remplissant ce formulaire, vous pourrez débuter votre aventure en tant qu’entrepreneur de
                    changement.
                </p>
            </div>
            <a href="#" class="button button__grand" data-component="Modal" data-modal-id="tpl-modal"
                >Débuter le formulaire</a
            >

            <template id="tpl-modal">
                <div class="modal">
                    <div class="modal__scrim"></div>
                    <div class="modal__box">
                        <div class="modal__content">
                            <h3>Avertissement</h3>
                            <div class="modal_informations">
                                <p>
                                    Pour créer une campagne avec Biscuits, vous devez être majeur et être citoyen
                                    canadien.
                                </p>
                                <p class="texte-bold">Avez-vous 18 ans ou plus et êtes-vous un citoyen canadien?</p>
                            </div>

                            <a href="contact.html" class="option-modal">Oui</a>
                            <p class="js-close option-modal">Non</p>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </section>

    <div class="snackbar" data-component="Snackbar" data-delay="2" data-auto-hide="0.1" data-id="1">
        <div class="wrapper snackbar__display">
            <p>Découvrez nos nouvelles recettes dès aujoud'hui sur notre page de produits! 🍪</p>
            <p class="button-close js-close">
                <svg class="icon icon--md">
                    <use xlink:href="#icon-btn-close"></use>
                </svg>
            </p>
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}
